.collection-item
{
    display: flex;

    justify-content: space-between;
}
.material-icons
{
    cursor: pointer;
}
body
{
    background-color: #6c71cc;
}
.container
{
    padding: 10px;

    background-color: #fff;
}
.btn-pink
{
    background-color: #fc5395;
}
.title-lyrical
{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;

    text-align: center;

    color: white;
}
